@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  	height: 100%;
}

body {
	margin: 0;
	position: relative;
	height: 100%;
	font-family: 'Roboto';
	@include general-query(desktop){
		padding-top: 50px;
	}
}

.full-height {

}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.default-bg {
	background-color: $gtd-red;
}

.app {
	text-align: center;
	height: 100%;
}

a {
	color: black;
	&:hover {
		text-decoration: none;
		color: rgb(128, 128, 128);

	}
}
