.bg-batik {
	&::before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url('/images/batik-maroon.jpg') no-repeat center center;
		background-size: cover;
	}

	.navbar-default {
		border: none;
	}
}

.exodia-section-title {
	font-family: got, serif;
	color: $exodia-orange;
	letter-spacing: 10px;
	font-size: 1.2rem;
	@include general-query(desktop){
		font-size: 1.5rem;
	}
}


section.banner-exodia {
	.exodia-title {
		font-size: 5em;
		font-family: blackoninaut, serif;
		letter-spacing: 15px;
		color: $exodia-orange;
	}

	p {
		font-family: got, serif;
		color: $exodia-orange;
		letter-spacing: 10px;
	}
}

section.foreword {
	text-align: left;

	.alfons-image{
		@include general-query(desktop){
			width: 70%;
		}
	}
}

section.committee {
	.ppit-container {
		position: relative;
		.ppit-image {
			opacity: 0.5;
		}
		.ppit-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.other-portfol {
			position: absolute;
			bottom: 8px;
			left: 16px;
		}
	}
}
