/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.eslintrc.json
_ide_helper.php
.idea
.vscode
.vs
client_secret.json
credentials.json
composer.lock
package-lock.json
webpack.mix.js
public/