.copyright {
	&.navbar-text {
		float: none;
		font-size: larger;
		font-weight: 900;
		color: black;
	}	
	a {
		&:hover {
			color: $gtd-red;
		}
	}
}
.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
	// color: $gtd-red;
	// border: 1px solid white;
	
	span.glyphicon {
		font-size: 60px;
	}
}