@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.leader-slide {
	padding: 15px;
	img {
		cursor: pointer;
	}
}
.slick-center {
	transition: transform .5s ease-in-out;
	transform: scale(1.05);
	h1 {
		color: $exodia-orange;
	}
}
