html, body {
	font-size: 16px;
	color: white;
}

@font-face {
	font-family: blackoninaut;
	src: url("/fonts/blackoninaut.ttf");
}

@font-face {
	font-family: got;
	src: url("/fonts/got.ttf");
}

.exodia {
	font-family: 'Libre Baskerville', serif;
}