#history-tabs {
	li {
		&.active {
			a {
				background: none;
				color: black;
				border: 1px solid white;
			}
		}
		a:hover {
			background: none;
			color: black;
			border: 1px solid white;
		}

	}
	.history-content-container {
		margin-top: 40px;
		.history-content {
			text-align: left;

			@media screen and (max-width: 400px) {
				font-size: 12px;
		  }

		}
	}
}
