tr {
	cursor: pointer;
}
tr:nth-child(even){
    background-color: #808080 !important;
	&:hover {
		background-color: rgba(128, 128, 128, 0.5) !important;
	}
}

tr:nth-child(odd){
    background-color: #505050 !important;
	&:hover{
		background-color: rgba(80, 80, 80, 0.5) !important;
	}
}

th {
    background-color: #4CAF50;
    border: 1px solid white;
    height: 50px;
}

.margin-bottom {
	padding-bottom : 50px;
}
